body {
    font-family: Arial, sans-serif;
    color: #dacafb;
    margin: 0;
    padding: 0;
    background-color: #dacafb;
    box-sizing: border-box;
}

.top-bar {
    background-color: white;
    max-width: 100%;
    padding: 10px;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.focus-time {
    float: right;
    padding: 10px;
}

.time-button {
    background-color: #8b51f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.time-button:hover {
    background-color: #6b3ebe;
}

.time i {
    padding: 10px;
    scale: 150%;
    vertical-align: middle;
}

.container {
    padding: 70px 0;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.column {
    flex-basis: 25%;
    background-color: #FFFFFF;
    padding: 20px;
    margin-right: 20px; 
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.column h2 {
    text-align: center;
}

textarea, input[type="date"] {
    background-color: #8b51f5;
    resize: none;
    color: #FFFFFF;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea::placeholder {
    color: lightgrey;
  }

.data-entry {
    margin-bottom: 30px;
}

.tema-button {
    background-color: #8b51f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box;
}

.tema-button:hover {
    background-color: #6b3ebe;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 12px;
        flex-wrap: wrap;
    }
    .column {
        flex-basis: 100%;
        padding: 12px;
        margin-top: 20px;
        margin-left: 0;
        margin-right:0;
        display: block;
        flex-direction: column;
    }
  }
