body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dacafb;
    box-sizing: border-box;
}

.top-bar {
    background-color: white;
    max-width: 100%;
    padding: 10px;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.focus-time {
    float: right;
    padding: 10px;
}

.time-button {
    background-color: #8b51f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.time-button:hover {
    background-color: #6b3ebe;
}

.time i {
    padding: 10px;
    scale: 150%;
    vertical-align: middle;
}

.container {
    color: black;
    padding: 70px 0;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.tema-details {
    color: black
}

.column {
    flex-basis: 25%;
    background-color: #FFFFFF;
    padding: 20px;
    margin-right: 20px; 
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height:55vh; 
}

.column h2 {
    text-align: center;
}

textarea, input[type="date"] {
    background-color: #8b51f5;
    resize: none;
    color: #FFFFFF;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea::placeholder {
    color: lightgrey;
}

.data-entry {
    margin-bottom: 30px;
}

.tema-button {
    background-color: #8b51f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 0;
    margin: 5px 0;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box;
    list-style: none;
}

.tema-button:disabled {
    background-color: #9370db;
    opacity: 0.6;
    cursor: not-allowed;
}
  
.tema-button:hover {
    background-color: #6b3ebe;
}

.temaLista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

hr.rounded {
    border-top: 3px solid #bbb;
    border-radius: 2px;
  }

h3 {
    color: #b48df6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-img {
    height: 380px;
}

.login-img img {
    max-width: 100%;
    max-height: 100%;
}
    
.login {
    max-width: 80%;
    background: white;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    background-color: #dacafb;
    padding: 10px;
    font-size: medium;
    text-align: center;
    color: white;
    border-color:#b48df6;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: 10px;
}

.login-form input::placeholder {
    color: white;
}

.login-form input[type=submit] {
    background-color: #a175f5;
    font-weight: bold;
}

.login-form input[type=submit]:hover {
    background-color: #9765f4;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 12px;
        flex-wrap: wrap;
    }
    .column {
        flex-basis: 100%;
        padding: 12px;
        margin-top: 20px;
        margin-left: 0;
        margin-right:0;
        display: block;
        flex-direction: column;
    }
    
    .login {
        flex-direction: column;
        text-align: center;
        margin: 20px;
    }

    .login-img {
        height: 200px;
    }
}
